@import "tailwindcss/base";
@import "../../deps/petal_components/assets/default.css";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

.inline-container {
    @apply h-full relative;
    display: inline-block;
}

.inline-text-input {
    color: green;
}

.inline-dropdown {
    @apply absolute z-50 bg-gray-200 inset-x-0 top-full;
}

.inline-active-option {
    background-color: green;
}
